.card {
  box-sizing: border-box;
  margin-bottom: 100px;
  margin-left: 180px;
  display: grid;
  column-gap: 30px;
  row-gap: 40px;
  grid-template-columns: 25% 25% 25%;
}

.card__contentBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 50px;
  color: rgb(0, 123, 255);
}
.card__button {
  border: none;
  font-size: larger;
  padding: 10px;
  color: rgb(0, 123, 255);
  border-radius: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.card__button:hover {
  color: white !important;
  background-color: rgb(0, 123, 255);
  transition: 200ms ease-in;
}
.card__name {
  font-weight: 500;
  margin-bottom: 0;
  font-size: larger;
}

.card__price {
  font-size: small;
  color: rgb(204, 118, 74);
}
.card__content {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  background-color: rgb(242, 242, 242);
  box-sizing: border-box;
  border: 1px solid rgb(242, 242, 242);
  border-radius: 20px;
  margin-bottom: 10px;
}

.card__content:hover {
  transform: scale(1.04);
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
}
.card__image {
  margin-left: 25px;
  object-fit: cover;
}
