.modal {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.modal--signupDialog {
  padding: 0 10px 0 10px;
  z-index: 10;
  width: 600px;
  height: 600px;
  margin: 20px;
  border-radius: 10px;
  background-color: white;
  transition: 300ms ease-in;
}
.modal--loginDialog {
  padding: 0 10px 0 10px;
  z-index: 10;
  width: 600px;
  height: 700px;
  margin: 20px;
  border-radius: 10px;
  background-color: white;
}

.modal--header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
}

.modal--headerCloseButton {
  padding-top: 15px;
  font-size: 20px;
  cursor: pointer;
}
.modal--bodySignInButtons {
  display: flex;
  flex-direction: column;
}
.SignInButton {
  font-size: larger;
  margin-top: 20px;
  background-color: rgb(0, 123, 255);
  color: white;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.signIcon {
  padding-right: 10px;
}
.modal--bodyform {
  margin-top: 20px;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal--bodyFormGroup {
  margin: 20px 0;
}
.modal--bodyFormCheck {
  margin-top: 20px;
}
.modal--bodSubmitButton {
  width: 100%;
}
.modal--bodSubmitButton {
  border-radius: 4px;
  height: 40px;
  margin-top: 90px;
  color: rgb(0, 123, 255);
  font-size: larger;
  border: 1px solid gray;
  background-color: white;
}
