.signup--button,
.login--button {
  border: 1px solid rgb(0, 123, 255);
  border-radius: 4px;
  display: flex;
  font-weight: 900;
  padding: 10px;
  color: rgb(0, 123, 255) !important;
  background-color: white;
  cursor: pointer;
}

.signup--buttonIcon,
.login--buttonIcon {
  font-size: larger;
  margin-right: 10px;
  color: rgb(0, 123, 255);
}

.signup--button:hover,
.login--button:hover {
  color: white !important;
  background-color: rgb(0, 123, 255);
  transition: 300ms ease-in;
}
